<section class="text-center container position-absolute top-50 start-50 translate-middle" id="main">
    <div class="card bg-dark">
        <div class="card-body">
            <h1 class="display-4">Discord Joiner - Pqko XYZ</h1>
            <br>
            <a href="/redirect" class="btn btn-primary">Join Now</a>
        </div>
    </div>
</section>